body {
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
  background-color: #caf0f8;
  overflow-y: auto;
  margin: 20px 20px 20px 40px;
  /* Updated margin to include left margin */
}

h1,
h2 {
  text-align: center;
  color: #2c3e50;
  margin: 10px 0;
}

.sidebar-img {
  width: 50%;
  max-width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 8px;
}

.sidebar-container {
  position: relative
}

.sidebar {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background: #03045e;
  color: #00b4d8;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 20px 10px;
  text-align: left;
  color: #00b4d8;
}

.sidebar li,
.sidebar a {
  color: white;
  text-decoration: none;
  transition: font-weight 0.2s;
}

.sidebar li:hover,
.sidebar a:hover {
  font-weight: bold;
}

.sidebar-hover-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 20px;
  height: 100vh;
  z-index: 1001;
  pointer-events: auto;
}

.sidebar-container:hover .sidebar {
  left: 0;
  /* Muestra la barra lateral al hacer hover */
}

header nav a {
  text-decoration: none;
  color: #2c3e50;
}

header nav a:hover {
  font-weight: bold;
}

hr {
  border: 0;
  height: 2px;
  background-color: #2c3e50;
  margin: 20px 0;
}

.section.presentacion {
  background-color: #90e0ef;
  border: 2px solid #2c3e50;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section.presentacion p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: center;
}